/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px/1.3 'AvenirLTStd-Light', Arial, sans-serif; background:#fff; color:#464646;
								  -webkit-font-smoothing: antialiased;
								  -moz-osx-font-smoothing: grayscale; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px "AvenirLTStd-Heavy", Arial, sans-serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration: underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
a.btn, .btn {
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-width: 117px;
    margin: 0;
    padding: 10px 16px 8px;
    font: 400 18px/1 'Oswald', Arial, sans-serif;
    color: #82001c;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #82001c;
    background-color: rgba(255, 255, 255, 0.8);
}
a.btn:hover, .btn:hover {
    color: #ffffff;
    background-color: #82001c;
}

input[type=button],
input[type=submit],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-style::-webkit-input-placeholder { color: #4f6370; }
.input-style::-moz-placeholder { color: #4f6370; }
.input-style:-ms-input-placeholder { color: #4f6370; }
.input-style:-moz-placeholder { color: #4f6370; }
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'AvenirLTStd-Light';
    src:  url('../fonts/AvenirLTStd-Light.woff')  format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLTStd-Heavy';
    src:  url('../fonts/AvenirLTStd-Heavy.woff')  format('opentype');
    font-weight: 800;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    min-height: 100%;
    margin-bottom: -225px;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 225px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    /*position: fixed;*/
    /*z-index: 1000;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*min-height: 100px;*/
    /*background-color: #fff;*/
    /*-webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);*/
    /*-o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);*/
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
    border-bottom: 1px solid #c2c2c2;
}
    .navigation-bar {
        overflow: hidden;
        position: relative;
        background-color: #82001C;
    }
    .navigation-bar > .container {
        position: relative;
    }
    .navigation-bar > .container:before,
    .navigation-bar > .container:after {
        position: absolute;
        z-index: 10;
        content: '';
        width: 2000px;
        height: 0;
    }
    .navigation-bar > .container:before {
        border-bottom: 30px solid #fff;
        border-left: 0 solid transparent;
        border-right: 30px solid transparent;
        left: -2120px;
    }
    .navigation-bar > .container:after {
        border-bottom: 30px solid #fff;
        border-left: 30px solid transparent;
        border-right: 0 solid transparent;
        right: -2120px;
    }
    .header-bottom-box {
        padding: 13px 0 10px;
        text-align: center;
    }
        .logo {
            overflow: hidden;
            float: left;
            max-width: 157px;
            max-height: 52px;
            -webkit-transition: 0.35s;
            -khtml-transition: 0.35s;
            -moz-transition: 0.35s;
            -ms-transition: 0.35s;
            -o-transition: 0.35s;
            transition: 0.35s;
        }
            .logo img {
                max-width: 100%;
                max-height: 100%;
                height: auto;
                width: auto;
            }
        .header-action-box {
            position: relative;
            float: left;
            height: 30px;
            margin-right: 30px;
            padding-right: 28px;
            background-color: #b10127;
            z-index: 2;
        }
        .header-action-box:before,
        .header-action-box:after {
            position: absolute;
            content: '';
            height: 100%;
            z-index: 1;
        }
        .header-action-box:before {
            width: 2000px;
            left: -2000px;
            background-color: #b10127;
        }
        .header-action-box:after {
            width: 0;
            height: 0;
            border-bottom: 30px solid #b10127;
            border-left: 0 solid transparent;
            border-right: 30px solid transparent;
            right: -30px;
            top: 0;
        }
            .action-info {
                font: 11px/31px 'AvenirLTStd-Light', Arial, sans-serif;
                color: #ff8fa7;
                letter-spacing: 0.6px;
                text-transform: uppercase;
            }
                .action-info strong {
                    font-family: 'AvenirLTStd-Heavy', Arial, sans-serif;
                    letter-spacing: 0.5px;
                    color: #ffffff;
                }
        .header-call-box {
            float: right;
            margin-top: 12px;
        }
            .call-box-desc {
                display: block;
                margin-bottom: 2px;
                font-size: 12px;
                line-height: 1;
                letter-spacing: 0.6px;
                color: #82001c;
                text-align: right;
                text-transform: uppercase;
            }
            .header-call-box a {
                font: 700 18px/1 'Oswald', Arial, sans-serif;
                letter-spacing: 0.1px;
                color: #82001c;
            }
            .header-call-box a:hover {
                text-decoration: none;
            }

        .header-filter-list {
            display: inline-block;
            margin-top: 14px;
            margin-bottom: -25px;
            padding-right: 60px;
        }
            .header-filter-list > li {
                display: inline-block;
                width: 156px;
                margin-bottom: 25px;
                padding: 0 7px;
            }
            .header-filter-list > li:last-child {
                padding-left: 33px;
            }
                .select-wrap {
                    text-align: left;
                }
                    .select-desc {
                        display: block;
                        padding-left: 18px;
                        font-size: 12px;
                        line-height: 1;
                        letter-spacing: 0.6px;
                        color: #82001c;
                        text-transform: uppercase;
                    }
                    .nice-select {
                        float: none;
                        display: inline-block;
                        border: none;
                        height: 28px;
                        line-height: 28px;
                    }
                        .nice-select .current,
                        .search-title {
                            font: 700 18px/1 'Oswald', Arial, sans-serif;
                            letter-spacing: 0.5px;
                            text-transform: uppercase;
                            color: #82001c;
                        }
                        .current {
                            overflow: hidden;
                            display: block;
                            max-width: 105px;
                            text-overflow: ellipsis;
                        }
                            .nice-select .option {
                                font: 18px/40px 'AvenirLTStd-Light', Arial, sans-serif;
                                color: #82001c;
                            }
                            .nice-select:after {
                                margin-top: -10px;
                                width: 0;
                                height: 0;
                                right: 5px;
                                border-left: 7px solid transparent;
                                border-right: 7px solid transparent;
                                border-top: 13px solid #82001c;
                                border-bottom: none;
                                -moz-transform: rotate(0deg);
                                -ms-transform: rotate(0deg);
                                -webkit-transform: rotate(0deg);
                                -o-transform: rotate(0deg);
                                transform: rotate(0deg);
                            }
                            .nice-select.open:after {
                                margin-top: -15px;
                                -moz-transform: rotate(180deg);
                                -ms-transform: rotate(180deg);
                                -webkit-transform: rotate(180deg);
                                -o-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }
                            .nice-select .list {
                                border: none;
                                border-radius: 0;
                                -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
                                -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
                                -o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
                                box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
                            }

                            .search-title {
                                position: relative;
                                padding-left: 18px;
                                padding-right: 30px;
                                cursor: pointer;
                            }
                            .search-title:after {
                                position: absolute;
                                content: '\f002';
                                top: 50%;
                                right: 5px;
                                margin-top: -9px;
                                font: normal normal normal 18px/1 FontAwesome;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                color: #82001c;
                            }
        .search-wrap {
            position: absolute;
            left: 0;
            right: 0;
            background-color: #fff;
        }
            .search-box {
                display: none;
                padding-bottom: 13px;
                vertical-align: middle;
                white-space: nowrap;
                position: relative;
            }
                .search-style {
                    display: block;
                    width: 100%;
                    margin: 0;
                    border: 1px solid #82001c;
                    box-shadow: none;
                    font: 18px/24px 'AvenirLTStd-Light', Arial, sans-serif;
                    letter-spacing: 0.02em;
                    color: #82001c;
                    padding: 5px 12px;
                    background-color: transparent;
                    -webkit-transition: 0.35s;
                    -khtml-transition: 0.35s;
                    -moz-transition: 0.35s;
                    -ms-transition: 0.35s;
                    -o-transition: 0.35s;
                    transition: 0.35s;
                }
                .search-box .icon {
                    position: absolute;
                    display: none;
                    height: 34px;
                    width: 45px;
                    top: 50%;
                    right: 0;
                    margin-right: 1px;
                    margin-top: -24px;
                    z-index: 1;
                    color: #82001c;
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 1);
                    border: transparent;
                }
                .search-box .icon:hover {

                }
                .search-box .fa-search {
                    font-size: 26px;
                }
.mobile-header-box {
    min-height: 98px;
    background-color: #82001C;
}
.header.scrolling .mobile-header-box {
    min-height: 75px;
}

.header.scrolling .mobile-header-box .logo {
    padding-top: 11px;
}
.header.scrolling .mobile-menu-toggle {
    height: 75px;
}
.mobile-menu-wrap,
.mobile-menu-toggle,
.mobile-header-box {
    display: none;
}
.mobile-menu-wrap {
    position: fixed;
    z-index: 99999;
    right: 0;
    height: 0;
    width: 0;
    top: 100px;
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    -o-transition-delay: 0.35s;
    transition-delay: 0.35s;
}
.header.scrolling .mobile-menu-wrap {
    top: 75px;
}
.admin-bar .mobile-menu-wrap {
    top: 108px; }
.mobile-menu-wrap.showing {
    height: 100%;
    width: 100%;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

.mobile-menu-overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    -moz-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s; }
.showing .mobile-menu-overlay {
    opacity: 1; }

.mobile-menu-box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    z-index: 2;
    padding-bottom: 100px;
    background-color: #82001C;
    -webkit-transition: left 0.35s;
    -moz-transition: left 0.35s;
    -o-transition: left 0.35s;
    transition: left 0.35s;
    overflow: auto; }
.showing .mobile-menu-box {
    left: 0; }

.mobile-menu-toggle {
    position: absolute;
    left: 0;
    top: 0;
    height: 98px;
    width: 75px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 26px;
}
.mobile-menu-toggle span:before,
.mobile-menu-toggle span:after,
.mobile-menu-toggle span {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    height: 2px;
    width: 35px;
    background-color: #FFF;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}
.mobile-menu-toggle span {
    z-index: 999999;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mobile-menu-toggle span:before {
    top: -9px;
}
.mobile-menu-toggle span:after {
    bottom: -9px;
}
.mobile-menu-toggle.active span {
    background-color: transparent; }
.mobile-menu-toggle.active span:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
}
.mobile-menu-toggle.active span:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0;
}

/*--------------------------------------NAV-----------------------------------------*/
.main-nav > ul {
    float: right;
    margin-right: -19px;
    margin-left: 20px;
    text-align: center;
}
    .main-nav > ul > li {
        display: inline-block;
        text-align: center;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
        .main-nav > ul > li a {
            position: relative;
            display: inline-block;
            padding: 9px 18px 8px;
            font-size: 11px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #ff8fa7;
        }

        .main-nav a:hover,
        .main-nav .current-menu-item > a {
            color: #fff;
            text-decoration: none;
        }

.mobile-menu {
    border-top: 1px solid #ff8fa7;
    padding: 15px 0;
}
    .mobile-menu li a {
        position: relative;
        display: block;
        padding: 15px 15px 13px;
        font-size: 18px;
        text-transform: uppercase;
        color: #ff8fa7;
    }
    .mobile-menu > li > a {
        text-align: left;
        padding-top: 14px;
    }
    .mobile-menu li a:hover,
    .mobile-menu .current-menu-item > a {
        color: #fff;
        text-decoration: none;
    }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*-------------------------------------BREADCRUMBS---------------------------------*/
.breadcrumbs-box {
    padding-top: 12px;
    padding-bottom: 7px;
    background-color: #ffdd00;
}
.breadcrumbs {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.breadcrumbs a {
    font-family: 'AvenirLTStd-Light', Arial, sans-serif;
    color: #464646;
}
.breadcrumbs a span{
    color: #464646;
}
.breadcrumbs > span {
    padding: 0 3px;
}
.breadcrumbs > span:first-child {
    padding-left: 0;
}
.breadcrumbs span {
    color: #464646;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.breadcrumbs a:hover,
.breadcrumbs a:hover span{
    color: #fff;
    text-decoration: none;
}

/*-------------------------------------CATALOG--------------------------------------*/
.section {
    padding: 52px 0 60px;
}
.section-catalog {}
    .section-title {
        margin-bottom: 19px;
        font: 400 51px 'Oswald', Arial, sans-serif;
    }
    .container-box {
        overflow: hidden;
    }
        .catalog-list {
            margin-right: 4px;
            font-size: 0;
            border: 1px solid #d4d4d4
        }
            .catalog-list > li {
                display: inline-block;
            }
            .item-box {
                position: relative;
                width: 195px;
                height: 190px;
                border: 1px solid #d4d4d4;
            }
            .item-box a {
                color: #464646;
            }
            .item-box a.btn-view {
                /*position: absolute;*/
                /*left: 0;*/
                /*top: 0;*/
                /*width: 100%;*/
                /*height: 100%;*/
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.2s, visibility 0s linear 0.2s;
            }
            .item-box:hover a.btn-view {
                opacity: 1;
                visibility: visible;
                transition-delay: 0.2s;
            }
                .item-box .btn-view {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
                .item-wrap-img {
                    height: 145px;
                    padding: 5px;
                    text-align: center;
                    line-height: 145px;
                }
                    .item-wrap-img img {
                        max-width: 100%;
                        max-height: 100%;
                        height: auto;
                        width: auto;
                        vertical-align: middle;
                    }
                .item-desc {
                    overflow: hidden;
                    height: 44px;
                    padding: 0 20px 8px;
                    line-height: 44px;
                    text-align: left;
                    vertical-align: middle;
                }
                    .item-title {
                        display: inline-block;
                        font: 13px/1.3 'AvenirLTStd-Heavy', Arial, sans-serif;
                        letter-spacing: 0.2px;
                    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar {
    float: left;
    max-width: 156px;
    margin-right: 38px;
}
    .sidebar-title {
        margin-top: -2px;
        margin-bottom: 24px;
        font: 14px 'AvenirLTStd-Heavy', Arial, sans-serif;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
    .filter-list {

    }
        .filter-list > li {
            position: relative;
            padding-top: 6px;
            padding-right: 30px;
            padding-bottom: 6px;
            border-bottom: 1px solid #d4d4d4;
        }
        .filter-list > li:hover:after,
        .filter-list > li.active:after {
            border-bottom: 1px solid #464646;
            border-right: 1px solid #464646;
            content: '';
            display: block;
            height: 8px;
            margin-top: -6px;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform-origin: 66% 66%;
            -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
            width: 8px;
        }

        .filter-list > li:last-child {
            border-bottom: none;
        }
            .filter-list > li a {
                font: 14px 'AvenirLTStd-Light', Arial, sans-serif;
                letter-spacing: 0.2px;
                -webkit-transition: 0s;
                -khtml-transition: 0s;
                -moz-transition: 0s;
                -ms-transition: 0s;
                -o-transition: 0s;
                transition: 0s;
            }
            .filter-list > li a:hover,
            .filter-list > li.active a{
                font-family: 'AvenirLTStd-Heavy', Arial, sans-serif;
                letter-spacing: 0.1px;
                text-decoration: none;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/